@page
@model SportsTournamentApp.Pages.Tournaments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Tournament</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tournament.Name" class="control-label"></label>
                <input asp-for="Tournament.Name" class="form-control" />
                <span asp-validation-for="Tournament.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Description" class="control-label"></label>
                <input asp-for="Tournament.Description" class="form-control" />
                <span asp-validation-for="Tournament.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.StartDate" class="control-label"></label>
                <input asp-for="Tournament.StartDate" class="form-control" />
                <span asp-validation-for="Tournament.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.EndDate" class="control-label"></label>
                <input asp-for="Tournament.EndDate" class="form-control" />
                <span asp-validation-for="Tournament.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.WinningTeamID" class="control-label"></label>
                <select asp-for="Tournament.WinningTeamID" class="form-control" asp-items="ViewBag.WinningTeamID">
                    <option value="">&nbsp;</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
